@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

.label-color {
  @apply label-text font-bold font-serif text-black;
}

.shoePolishTag {
  @apply text-[15px] font-semibold font-sans text-white;
}
.verifyshoesTag {
  @apply text-[15px] font-semibold font-sans text-rose-500;
}

.p-text {
  @apply text-lg font-sans text-purple-600 font-semibold;
}
.gradient-color {
  background-color: #e9e100;
  background-image: linear-gradient(160deg, #373831 0%, #020701 100%);
}

.button-gradient {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    #ed0320de 20.8%,
    rgba(242, 121, 1, 0.84) 74.4%
  );
}

.side-gradient {
  background-color: #e9e100;
  background-image: linear-gradient(160deg, #373831 0%, #020701 100%);
}

.dropdownShadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
